.main {
  display: flex;
  width: 1160px;
  flex-wrap: wrap;
  justify-content: space-evenly;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
  margin-top: 1%;
  align-items: center;
}

.main h1 {
  margin: 0 auto;
}

footer {
  display: flex;
  align-items: center;
  justify-content: center;
}

.user_single {
  display: flex;
  justify-content: space-between;
  width: 1160px
}

.user_single_info {
  margin: 0 auto 0 33%;
  padding-left: 0
}

.current_user {
  margin: 10px 0;
}

@media (min-width: 320px) and (max-width: 768px) {
  .main {
    display: block;
    width: auto;
    position: static;
    transform: translate(0%, 0%);
    margin: 15px auto;
    padding: 60px 20px 0;
  }

  .user_single {
    display: block;
    width: 100%;
    text-align: left;
  }

  .user_single_info {
    margin: 0 auto;
    text-align: center;
  }
}
