.go_back {
  display: block;
  text-align: left;
  height: 30px;
}

.post_list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.posts_item {
  border: 0.0625rem solid #f8f8f8;
  width: 215px;
  padding: 10px;
  margin: 15px 0;
  box-sizing: border-box;
  overflow: hidden;
  border-radius: 20px;
  box-shadow: rgba(0, 0, 0, 0.3) 0 19px 38px, rgba(0, 0, 0, 0.22) 0 15px 12px;
  font-size: 13px;
  text-align: left;
}

.posts_item li:first-of-type {
  padding-bottom: 5px;
  text-align: center;
  font-size: 15px;
}

main h1{
  margin: 0 auto;
}

@media (min-width: 320px) and (max-width: 768px) {
  .posts_item {
    width: 100%;
  }
}